.gridwrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 30px;
  margin: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px; 
  padding: 30px 20px;
  border-radius: 10px;

}
.gridbox:nth-child(even) {
  background-color:#F1F3FC;
  border: 2px solid #59ACF3;
  border-radius: 20px;
}
.gridbox:nth-child(odd) {
  background-color: #F1FCF3;
  border: 2px solid #4CDB66;
  border-radius: 20px;

}
.top-row {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
}
.profile-container {
  display: flex;
  align-items: center;
}
.profile-image {
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
.name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  color: blue;
  font-style: normal;
  font-size: 24px;
  font-weight: 500px;
  line-height: 36px;
}
.options-container {
  display: flex;
  gap: 8px;
  background-color: white;
  padding-left: 25px;
  padding-top: 12px;
  padding-right: 15px;
  border-radius: 30px;
  border: 1px solid blue;
  height: 32px;
  width: 86px;
}
.options-container:hover {
  background-color: lightgray;
}
.dot {
  width: 6px;
  height: 6px;
  background-color: #2242D8;
  border-radius: 50%;
}
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
.bottom-row :hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.action-container {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.edit {
  display: flex;
  color: #2242D8;
  margin-left: 10px;
}
.preview {
  display: flex;
  color: #2242D8;
}
.share {
  display: flex;
  color: #2242D8;
  margin-right: 20px;
}
.email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Plus Jakarta Display";
  color: #5870E1;
}
